<style>
h1 {
    text-align: center;
    color: #C50935;
}

span {
    font-size: 28pt;
    text-shadow: 2px 2px 1px rgba(0,0,0,0.3);
    color: #D6FFCF;
    text-stroke: 1px #C50935;
    -webkit-text-stroke: 1px #C50935;
    margin: 0 10px;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.item {
  width: calc(100% - 20px); /* 3つの要素を横並びにするための幅。マージン等の余白も考慮して調整する */
  margin: 10px;
  text-align: center;
}

.uniform {
    display: flex;
    justify-content: center;
    align-items: end;
}

.uniform button {
    margin: 0 0 30px 30px;
    width: 80px;
    height: 50px;
    border-radius:30px;
    background: #DC4751;
    color: #FFFFFF;
    font-size: 20pt;
}
</style>

<%= render 'templates/header' %>

<h1>ユニフォーム<span>⭐️</span>人気投票</h1>

<div class="container">
    <% @users.each do |idol| %>
        <div class="item">
            <div class="uniform">
                <div class="image">
                    <%= image_tag idol.image, :size => "200x200"%>
                </div>
                <div>
                    <button class="vote-button" data-id="<%= idol.id %>">投票</button>
                </div>
            </div>
            <div class="layer js-modal" id="modal-<%= idol.id %>">
            <div class="modal">
                <div class="modal__inner">
                    <div class="modal__button-wrap">
                    </div>
                    <div class="modal__contents">
                        <div class="modal__content">
                            <p>投票しますか？</p>
                            <button class="close-button js-close-button">いいえ</button>
                            <%= form_with url: "/vote/#{idol.id}", method: :post do |f| %>
                                <%= f.submit "はい"%>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% end %>
</div>
