<!DOCTYPE html>
<html>
  <head>
    <title>MercariWow</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= yield(:js) %>
  </head>

  <style>
  * {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  </style>

  <body>
    <%= yield %>
  </body>
</html>
